{% load i18n %}{% autoescape off %}

<!DOCTYPE html>
<html>
<head>
    <title>Восстановление пароля</title>
</head>
<body>
    <p>Здравствуйте!</p>
    <p>Вы (или кто-то другой) запросили сброс пароля для вашего аккаунта на сайте CheapAutoParts64.</p>
    <p>Для установки нового пароля, пожалуйста, перейдите по следующей ссылке:</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
       style="background-color: #198754; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; font-weight: bold;">
        Сбросить пароль
    </a>

    <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
    <p>С уважением, Команда CheapAutoParts64.</p>
</body>
</html>
{% endautoescape %}
