/* Добавьте этот код в ваш main/styles.css */
@media (min-width: 992px) {
    /* Применяем кастомную ширину 20% к контейнеру фильтра */
    .custom-filter-width {
        width: 21% ; /* !important требуется, чтобы перебить Bootstrap */
        /* Flexbox-свойства для правильного отображения */
        flex: 0 0 auto;
    }

    /* Соответственно, колонка с запчастями должна занимать оставшиеся 80% */
    .col-lg-9 {
        width: 79% ;
        flex: 0 0 auto;
    }
}


.card-height-range {
    /* Минимальная высота: предотвращает сжатие */
    min-height: 300px;
    /* Максимальная высота: предотвращает чрезмерное растяжение */
    max-height: 300px;
    /* Важно: скрывает контент, который не помещается в max-height */
    overflow: hidden;
}   /* Блок запчасти