{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}Смена пароля – Маркет Запчастей CheapAutoParts64{% endblock %}
{% block content %}
<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg p-4 rounded-4">
                <h2 class="card-title text-center mb-4">Сброс пароля</h2>
                <p class="text-muted text-center mb-4">Введите ваш Email-адрес, чтобы получить ссылку для сброса пароля.</p>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% for error in field.errors %}
                                <div class="text-danger small mt-1">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success w-100">Получить ссылку</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}