{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="container text-dark py-1 rounded-4" style="background-color: rgba(211, 211, 211, 0.8);">
    <div class="container py-1">
        <h1 class="mb-4 text-center">{{ category.name }}</h1>
        {% if category.description %}
            <p class="lead text-center mb-5 text-secondary">{{ category.description }}</p>
        {% endif %}
        <div class="row g-4">
            <div class="col-12 col-lg-3 custom-filter-width">
                <div class="sticky-top" style="top: 20px;">
                    <div class="card shadow-sm rounded-2">
                        <div class="card-header bg-light text-dark" data-bs-toggle="collapse" data-bs-target="#filter-auto-collapse" aria-expanded="true" aria-controls="filter-auto-collapse" style="cursor: pointer;">
                            <h5 class="mb-0 d-flex justify-content-between align-items-center" style="cursor: pointer;" onclick="toggleFilterBody()">
                                Фильтр <i id="filter-arrow" class="bi bi-chevron-down ms-2" style="font-size: 0.8rem;"></i>
                            </h5>
                        </div>
                        <div class="card-body collapse show" id="filter-auto-collapse">
                            <form id="sidebar-filter-form" action="." method="GET">
                                {% if category.pk %}
                                    <input type="hidden" name="category" value="{{ category.pk }}">
                                {% elif request.GET.category %}
                                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                                {% endif %}

                                <div class="mb-3">
                                    <label for="id_make_sidebar" class="form-label">Марка:</label>
                                    <select name="make" id="id_make_sidebar" onchange="filterChange(this)" class="form-select">
                                        <option value="">-- Все марки --</option>
                                        {% for make in car_makes %}
                                            <option value="{{ make.pk }}" {% if request.GET.make == make.pk|stringformat:"s" %}selected{% endif %}>
                                                {{ make.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="id_model_sidebar" class="form-label">Модель:</label>
                                    <select name="model" id="id_model_sidebar" onchange="filterChange(this)" class="form-select" {% if not car_models %}disabled{% endif %}>
                                        <option value="">-- Все модели --</option>
                                        {% for model in car_models %}
                                            <option value="{{ model.pk }}" {% if request.GET.model == model.pk|stringformat:"s" %}selected{% endif %}>
                                                {{ model.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="id_generation_sidebar" class="form-label">Модификация:</label>
                                    <select name="generation" id="id_generation_sidebar" onchange="filterChange(this)" class="form-select" {% if not car_generations %}disabled{% endif %}>
                                        <option value="">-- Все модификации --</option>
                                        {% for gen in car_generations %}
                                            <option value="{{ gen.pk }}" {% if request.GET.generation == gen.pk|stringformat:"s" %}selected{% endif %}>
                                                {{ gen.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    <a href="?category={{ category.pk }}" class="btn btn-outline-success w-100 mt-2">
                                    Сбросить
                                    </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div id="parts-container">
                    <div class="row g-4 justify-content">
                        {% for part in parts %}
                            <div class="col-12 col-md-8 col-xl-6">
                                <div class="card shadow-lg bg-light text-dark d-flex flex-column card-height-range">
                                    <div class="d-flex p-3 flex-grow-1">
                                        <div class="me-3 flex-shrink-0" style="width: 200px; height: 200px; overflow: hidden; border-radius: 6px;">
                                            {% with image=part.get_main_image_source %}
                                                {% if image%}
                                                    <img src="{{ image }}" alt="{{ part.title|default:'Запчасть' }}" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                                {% else %}
                                                    <img src="{% static 'deps/images/default_part_image.png' %}" alt="Изображение отсутствует" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                                {% endif %}
                                            {% endwith %}
                                        </div>

                                        <div class="flex-grow-1">
                                            <h5 class="card-title text-dark">{{ part.title|truncatewords:5 }}</h5>
                                            <p class="card-text text-muted mb-1">Артикул: {{ part.part_number|default:"Не указан" }}</p>

                                            {% if part.donor_generation %}
                                                <p class="card-text small text-dark">
                                                    {{ part.donor_generation.model.make.name }}
                                                    {{ part.donor_generation.model.name }} ({{ part.donor_generation.name }})
                                                </p>
                                            {% else %}
                                                <p class="card-text small text-danger">Применимость: Не указана (требуется обновление данных)</p>
                                            {% endif %}

                                        </div>
                                    </div>

                                    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center">
                                        <strong class="fs-5 text-dark">{{ part.price }} ₽</strong>
                                        <a href="#"
                                        data-url="{% url 'spare_parts:part_detail_modal' part.pk %}"
                                           class="btn btn-outline-success js-open-part-modal">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% empty %}
                            <div class="col-10">
                                <div class="alert alert-warning" role="alert">
                                    В данный момент запчастей по этому фильтру нет. Попробуйте изменить критерии поиска.
                                </div>
                            </div>
                        {% endfor %}

                        {% if is_paginated %}
                        <nav aria-label="Page navigation" class="mt-4">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link text-success border-success" href="?page=1">&laquo; Первая</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-success border-success" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                                    </li>
                                {% endif %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link bg-success border-success">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                                </li>
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link text-success border-success" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-success border-success" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="partDetailModal" tabindex="-1" aria-labelledby="partDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="partDetailModalLabel">Загрузка...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Загрузка данных...
            </div>
        </div>
    </div>
</div>


<script>
    // Передаем PK категории в глобальный объект
    window.FilterConfig = {
        categoryPk: '{{ category.pk }}'
    };
</script>
<script src="{% static 'deps/js/filter_logic_new.js' %}"></script>
<script src="{% static 'deps/js/part_modal.js' %}"></script>

{% endblock content %}