{% load static %}
<!doctype html>
<html lang="ru" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Маркет Запчастей CheapAutoParts64</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'deps/css/main_styles.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/custom_styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-border bg-border" style="position: relative; z-index: 1060;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}" aria-label="Product">
                    <img src="{% static 'deps/icons/head/cap_main.svg' %}" alt="Car Part" width="150" height="150" class="me-2 align-text-bottom">
            </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог 🛠️
                            </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'spare_parts:all_parts' %}">
                                        Все запчасти
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                        {% for category in categories %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'spare_parts:category_detail' category.id %}">
                                        {{ category.name }}
                                        </a>
                                    </li>
                                        {% endfor %}
                                </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <button class="btn btn-secondary me-2" type="button">
                                Корзина 🛒 (0)
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Личный кабинет 💼
                            </button>
                            <ul class="dropdown-menu dropdown-menu-tertiary dropdown-menu-end p-3" style="min-width: 200px;">
                                <form class="px-2 py-1">
                                    <div class="mb-3">
                                        <label for="loginInput" class="form-label">Логин</label>
                                        <input type="text" class="form-control" id="loginInput" placeholder="Логин" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordInput" class="form-label">Пароль</label>
                                        <input type="password" class="form-control" id="passwordInput" placeholder="Пароль" required/>
                                    </div>
                                    <button type="submit" class="btn btn-tertiary w-100">Войти</button>
                                    <hr class="dropdown-divider bg-tertiary">
                                    <a href="#" class="btn btn-tertiary w-100">Регистрация</a>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
<main>
    {% block content %}
    {% endblock content %}
</main>
    <footer class="container py-5 bg-tertiary text-light">
    <div class="row pt-3 align-items-center mb-3">
        <div class="col-12 col-md-6">
             <ul class="list-unstyled d-flex gap-3 text-small">
                 <li><a class="link-dark text-decoration-none" href="{% url 'contacts' %}">Контакты</a></li>
                 <li><a class="link-dark text-decoration-none" href="{% url 'about' %}">О нас</a></li>
                 <li><a class="link-dark text-decoration-none" href="{% url 'delivery' %}">Доставка</a></li>
                 <li><a class="link-dark text-decoration-none" href="{% url 'payment' %}">Оплата</a></li>
             </ul>
        </div>
        <div class="col-12 col-md-6 ms-auto text-end">
            <div class="d-flex justify-content-end align-items-center ">
                <a href="https://t.me" target="_blank" aria-label="Telegram" class="ms-1 me-1 " >
                    <img src="{% static 'deps/icons/social/telegram.svg' %}" alt="Telegram" width="32" height="32" style="vertical-align: middle;">
                </a>
                <a href="https://vk.com/" target="_blank" aria-label="VKontakte" class="ms-1 me-1">
                    <img src="{% static 'deps/icons/social/vk.svg' %}" alt="VKontakte" width="32" height="32" style="vertical-align: middle;">
                </a>
                <a href="https://www.avito.ru" target="_blank" aria-label="Avito" class="ms-1 me-1">
                    <img src="{% static 'deps/icons/social/avito.svg' %}" alt="Avito" width="52" height="52" style="vertical-align: middle;">
                </a>
            </div>
        </div>
    </div>
    <hr class="border-dark mt-4">
    <div class="row pt-2">
        <div class="col-12">
            <small class="d-block text-dark">&copy; 2010-2025 CheapAutoParts64</small>
        </div>
    </div>
</footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
        </script>

</body>
</html>
