{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <main class="container">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-8 p-lg-5 mx-auto my-5">
          <p class="lead fw-normal fw-bold">Поиск новых и б/у запчастей с разбора</p>
            <form id="car-filter-form" class="d-flex align-items-center gap-2 justify-content-center mb-5">
                <div class="btn-group">
                  <button id="brand-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="">
                    Марка
                  </button>
                  <ul id="brand-menu" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-value="kia">KIA</a></li>
                    <li><a class="dropdown-item" href="#" data-value="renault">Renault</a></li>
                    <li><a class="dropdown-item" href="#" data-value="bmw">BMW</a></li>
                  </ul>
                </div>

                <div class="btn-group">
                  <button id="model-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="" disabled>
                    Модель
                  </button>
                  <ul id="model-menu" class="dropdown-menu">
                    </ul>
                </div>

                <div class="btn-group">
                  <button id="mod-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="" disabled>
                    Модификация
                  </button>
                  <ul id="mod-menu" class="dropdown-menu">
                    </ul>
                </div>

                <button class="btn btn-outline-success" type="submit">Перейти</button>
            </form>

            <form class="d-flex" role="search">
              <div class="input-group me-2 flex-grow-1">
                <span class="input-group-text">Поиск по номеру запчасти:</span>
                <input class="form-control" type="search" placeholder="Пример: 25739AA100" aria-label="Search"/>
              </div>
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Двигатели (Б/У)</h2>
            <p class="lead">Все марки и модели. С гарантией на проверку.</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение двигателя]
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Кузов</h2>
            <p class="lead">Бамперы, крылья, двери. Быстрая доставка по РФ.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение кузовных деталей]
          </div>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Тормозная система</h2>
            <p class="lead">Диски, суппорты, колодки. Новое и БУ.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение тормозных дисков]
          </div>
        </div>

        <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Шины и диски</h2>
            <p class="lead">Летние и зимние комплекты. Сезонные скидки.</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение шин]
          </div>
        </div>
      </div>

    </main>


{% endblock content %}