{% load static %}

<!doctype html>
<html lang="ru" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Маркетплейс Запчастей (Product Clone)</title>

      <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    >

    <style>
      /* Навигация (полупрозрачный фон и цвет ссылок) */
      .site-header {
        background-color: rgba(0, 0, 0, .85);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
      }
      .site-header a {
        color: #999;
        transition: color .15s ease-in-out;
      }
      .site-header a:hover {
        color: #fff;
        text-decoration: none;
      }

      /* Стилизация "телефонов" (визуальные элементы в первом блоке) */
      .product-device {
        position: absolute;
        right: 10%;
        width: 300px;
        height: 540px;
        background-color: #3e3e3e;
        border-radius: 21px;
        transform: rotate(30deg);
      }
      .product-device::before {
        position: absolute;
        top: 10%;
        right: 10px;
        bottom: 10%;
        left: 10px;
        content: "";
        background-color: rgba(255, 255, 255, .1);
        border-radius: 5px;
      }
      .product-device-2 {
        top: -3rem;
        right: auto;
        bottom: -3rem;
        left: 5%;
        background-color: #e5e5e5;
        transform: rotate(-30deg);
      }
      .product-device-2::before {
        background-color: rgba(0, 0, 0, .1);
      }

      /* Медиа-запрос для скрытия "телефонов" на маленьких экранах */
      @media (max-width: 767.98px) {
        .product-device {
          display: none !important;
        }
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" aria-label="Product">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Car Part</title><circle cx="12" cy="12" r="10"/><path d="M12 18V6M9 15h6M9 9h6"/></svg>
            CheapAutoParts
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Каталог
              </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Двигатель</a></li>
              <li><a class="dropdown-item" href="#">Система охлаждения</a></li>
              <li><a class="dropdown-item" href="#">Трансмиссия</a></li>
              <li><a class="dropdown-item" href="#">Кузовные запчасти</a></li>
              <li><a class="dropdown-item" href="#">Салон</a></li>
            </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button class="btn btn-dark" type="button">
                Корзина 🛒 (0)
              </button>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Личный кабинет
              </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end p-3" style="min-width: 200px;">
              <form class="px-2 py-1">
                <div class="mb-3">
                    <label for="exampleDropdownFormEmail2" class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Логин" required/>
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormPassword2" class="form-label">Пароль</label>
                    <input type="password" class="form-control" placeholder="Пароль" required/>
                </div>
                <button type="submit" class="btn btn-secondary w-100" href="#">Войти</button>
                <hr class="dropdown-divider bg-secondary">
                <button type="submit" class="btn btn-secondary w-100" href="#">Регистрация</button>
              </form>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-8 p-lg-5 mx-auto my-5">
          <p class="lead fw-normal fw-bold">Поиск новых и б/у запчастей с разбора</p>
            <form id="car-filter-form" class="d-flex align-items-center gap-2 justify-content-center mb-5">
                <div class="btn-group">
                  <button id="brand-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="">
                    Марка
                  </button>
                  <ul id="brand-menu" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-value="kia">KIA</a></li>
                    <li><a class="dropdown-item" href="#" data-value="renault">Renault</a></li>
                    <li><a class="dropdown-item" href="#" data-value="bmw">BMW</a></li>
                  </ul>
                </div>

                <div class="btn-group">
                  <button id="model-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="" disabled>
                    Модель
                  </button>
                  <ul id="model-menu" class="dropdown-menu">
                    </ul>
                </div>

                <div class="btn-group">
                  <button id="mod-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-selected-value="" disabled>
                    Модификация
                  </button>
                  <ul id="mod-menu" class="dropdown-menu">
                    </ul>
                </div>

                <button class="btn btn-outline-success" type="submit">Перейти</button>
            </form>

            <form class="d-flex" role="search">
              <div class="input-group me-2 flex-grow-1">
                <span class="input-group-text">Поиск по номеру запчасти:</span>
                <input class="form-control" type="search" placeholder="Пример: 25739AA100" aria-label="Search"/>
              </div>
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Двигатели (Б/У)</h2>
            <p class="lead">Все марки и модели. С гарантией на проверку.</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение двигателя]
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Кузов</h2>
            <p class="lead">Бамперы, крылья, двери. Быстрая доставка по РФ.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение кузовных деталей]
          </div>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Тормозная система</h2>
            <p class="lead">Диски, суппорты, колодки. Новое и БУ.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение тормозных дисков]
          </div>
        </div>

        <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Шины и диски</h2>
            <p class="lead">Летние и зимние комплекты. Сезонные скидки.</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            [Изображение шин]
          </div>
        </div>
      </div>

    </main>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2024 НашМаркет</small>
        </div>
        <div class="col-6 col-md">
          <h5>Категории</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">Двигатель</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Электрика</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Ходовая</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Продавцам</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">Разместить объявление</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Тарифы</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Правила</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>О проекте</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="about/">Контакты</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Политика</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
  </body>
</html>